.form {
  color: white;
  background: #371B1B;
  border-radius: 15px;
  max-width: 900px;
}

.form-title {
  padding-left: 28px;
  padding-right: 17px;
  padding-top: 2%;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

button {
  width: 210.75px;
  height: 80.27px;
  background: #FFFFFF;
  border-radius: 0!important;
  border: none;

  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #000000;
  transition: 0.3s ease;
}

button:active, button:disabled, button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.container-sm {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.p-4 {
  padding: 0 !important;
}

.form-control{
  text-align: center;
}

::placeholder {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.search {
  padding: 0 37px 50px 37px;
}

.custom-control-label {
  padding-left: 15px;
}

.input-group {
  margin-top: 27px;
  margin-right: 16px;
}
