<app-headers></app-headers>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTeacherModal">
  Добавить нового преподавателя
</button>

<!-- Add Teacher Modal -->
<div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="addTeacherModalLabel">Преподаватель</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <label for="surnameInput" class="col-sm-3 col-form-label">Фамилия</label>
          <div class="col-sm-8">
            <input type="text" class="form-control transparent-input" id="surnameInput">
          </div>
        </div>
        <div class="row">
          <label for="nameInput" class="col-sm-3 col-form-label">Имя</label>
          <div class="col-sm-8">
            <input type="text" class="form-control transparent-input" id="nameInput">
          </div>
        </div>
        <div class="row">
          <label for="fathersNameInput" class="col-sm-3 col-form-label">Отчество</label>
          <div class="col-sm-8">
            <input type="text" class="form-control transparent-input" id="fathersNameInput">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary text-center">Добавить</button>
      </div>
    </div>
  </div>
</div>
