<app-header-admin-pages></app-header-admin-pages>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTeacherModal" (click)="requestCreateTeacher()">
  Добавить нового преподавателя
</button>

<!-- TODO сверстать контейнер для групп -->
<div *ngIf="teachers">
  <app-teacher-element
    *ngFor="let e of teachers"
    [teacher]="e"
    (onEdit)="requestEditTeacher($event)"
    (onDelete)="requestDeleteTeacher($event)"
  ></app-teacher-element>
</div>

<!-- TODO сверстать заглушку, если список пустой -->
<div *ngIf="!teachers">
  <div *ngIf="!hasError()">
    <p>Пусто</p>
  </div>

  <!-- TODO отображение ошибки -->
  <div *ngIf="hasError()">
    <p>{{ error }}</p>
  </div>
</div>

<!-- Модальное окно добавления или редактирования аудитории -->
<app-teacher-modal
  [form]="modal.selected"
  [error]="modal.error"
  (create)="createTeacher($event)"
  (modify)="modifyTeacher($event)"
></app-teacher-modal>

<!-- Модальное окно подтверждения удаления -->
<app-confirmation
  [message]="'Удалить учителя \'' + modal.selected?.fullName + '\'?'"
  [error]="modal.error"
  (confirm)="deleteTeacher()"
></app-confirmation>

