.loader-container {
  background: rgba(197, 197, 197, 0.8);
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10000;
}

.spinner-border {
  width: 50px;
  height: 50px;
}
