<app-header-admin-pages></app-header-admin-pages>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSubjectModal">
  Добавить новый предмет
</button>

<!-- Add Subject Modal -->
<div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="addSubjectModalLabel">Новый предмет</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <label for="subjectNameInput" class="col-sm-3 col-form-label">Название</label>
          <div class="col-sm-8">
            <input type="text" class="form-control transparent-input" id="subjectNameInput">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary text-center">Добавить</button>
      </div>
    </div>
  </div>
</div>
