<app-header-admin-pages></app-header-admin-pages>

<div class="container-sm min-vh-100">
  <div class="row justify-content-center align-content-center">
    <div class="col p-4 border overflow-hidden flex-md-row shadow-sm h-md-250 position-relative form">

      <div class="flex-column">
        <div class="d-flex ">
          <div class="col form-title">Предметы</div>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSubjectModal" (click)="requestCreateSubject()">
            Добавить новый предмет
          </button>
        </div>
      </div>

      <div class="search input-group">
        <input class="form-control" type="search" placeholder="название" [(ngModel)]="searchSubjectInput">
      </div>

      <div *ngIf="subjects">
        <app-subject-element
          *ngFor="let e of subjects | searchSubjects: searchSubjectInput"
          [subject]="e"
          (onEdit)="requestEditSubject($event)"
          (onDelete)="requestDeleteSubject($event)"
        ></app-subject-element>
      </div>

    </div>
  </div>
</div>


<!-- TODO сверстать заглушку, если список пустой -->
<div *ngIf="!subjects">
  <div *ngIf="!hasError()">
    <p>Пусто</p>
  </div>

  <!-- TODO отображение ошибки -->
  <div *ngIf="hasError()">
    <p>{{ error }}</p>
  </div>
</div>

<!-- Модальное окно добавления или редактирования предмета -->
<app-subject-modal
  [form]="modal.selected"
  [error]="modal.error"
  (create)="createSubject($event)"
  (modify)="modifySubject($event)"
></app-subject-modal>

<!-- Модальное окно подтверждения удаления -->
<app-confirmation
  [message]="'Удалить предмет \'' + modal.selected?.name + '\'?'"
  [error]="modal.error"
  (confirm)="deleteSubject()"
></app-confirmation>

