<app-header-admin-pages></app-header-admin-pages>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSubjectModal" (click)="requestCreateSubject()">
  Добавить новый предмет
</button>

<!-- TODO сверстать контейнер для групп -->
<div *ngIf="subjects">
  <app-subject-element
    *ngFor="let e of subjects"
    [subject]="e"
    (onEdit)="requestEditSubject($event)"
    (onDelete)="requestDeleteSubject($event)"
  ></app-subject-element>
</div>

<!-- TODO сверстать заглушку, если список пустой -->
<div *ngIf="!subjects">
  <div *ngIf="!hasError()">
    <p>Пусто</p>
  </div>

  <!-- TODO отображение ошибки -->
  <div *ngIf="hasError()">
    <p>{{ error }}</p>
  </div>
</div>

<!-- Модальное окно добавления или редактирования предмета -->
<app-subject-modal
  [form]="modal.selected"
  [error]="modal.error"
  (create)="createSubject($event)"
  (modify)="modifySubject($event)"
></app-subject-modal>

<!-- Модальное окно подтверждения удаления -->
<app-confirmation
  [message]="'Удалить предмет \'' + modal.selected?.name + '\'?'"
  [error]="modal.error"
  (confirm)="deleteSubject()"
></app-confirmation>

