<div class="cell-day" [ngClass]="BorderBottom ? '' : 'bb-0'">
  <ng-template [ngIf]="Pairs.length>0" [ngIfElse]="emptyCell">

    <app-schedule-pair [openModalPair]="openModalPair" [Pair]="Pairs[0]"></app-schedule-pair>
    <div *ngIf="Pairs.length>1">
      <div class="expand-arrow-btn" (click)="expandArrow()">
        <div class="expand-arrow" id="{{ExpandArrowId}}">
          <span class="material-symbols-outlined">expand_more</span>
        </div>
      </div>

      <div *ngIf="IsExpanded">
        <div *ngFor="let p of Pairs.slice(1)">
          <div class="pairs-space"></div>
          <app-schedule-pair [openModalPair]="openModalPair" [Pair]="p"></app-schedule-pair>
        </div>
      </div>
    </div>

  </ng-template>


  <ng-template #emptyCell>
    <div class="plus-btn btn">
      <div class="plus-btn-text">
        +
      </div>
    </div>
  </ng-template>
</div>

