.cell-day {
  border-bottom: 3px solid rgba(55, 27, 27, 0.2);
  border-right: 3px solid rgba(55, 27, 27, 0.2);

  padding: 10px;

  height: 100%;
  min-height: 60px;
}

@media (max-height: 900px) {
  .cell-day {
    min-height: 50px;
  }
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/
/*----------------------------*/
/*----------------------------*/
/* Кнопка для добавления пары */

.plus-btn {
  width: 100%;

  padding: 0;
  margin: 0;

  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #000000;

  background: #fefefe;
  border: 1px solid #bdc3c7;

  transition: 0.4s ease;
}

.plus-btn-text {
  transition: 0.7s ease;
}

.plus-btn:hover {
  background: #e3e3e3;
}

.plus-btn:active {
  background: #cccccc;
  border-color: #63a4a8;
}

.plus-btn:hover .plus-btn-text {
  transform: rotate(1turn);
}

.bb-0 {
  border-bottom: none;
}

.br-0 {
  border-right: none;
}
