<app-header-admin-pages></app-header-admin-pages>

<div class="container-sm min-vh-100">
  <div class="row justify-content-center align-content-center">
    <div class="col p-4 border overflow-hidden flex-md-row shadow-sm h-md-250 position-relative form">

      <div class="flex-column">
        <div class="d-flex ">
          <div class="col form-title">Группы</div>

          <!-- Кнопка добавления группы -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGroupModal" (click)="requestCreateGroup()">
            Добавить новую группу
          </button>
        </div>
      </div>

      <div class="search input-group">
        <input class="form-control" type="search" placeholder="номер" [(ngModel)]="searchGroupInput">
      </div>

      <div *ngIf="groups">
        <app-group-element
          *ngFor="let e of groups | searchGroups: searchGroupInput"
          [group]="e"
          (onEdit)="requestEditGroup($event)"
          (onDelete)="requestDeleteGroup($event)"
        ></app-group-element>
      </div>

    </div>
  </div>
</div>

<!-- TODO сверстать заглушку, если список пустой -->
<div *ngIf="!groups">
  <div *ngIf="!hasError()">
    <p>Пусто</p>
  </div>

  <!-- TODO отображение ошибки -->
  <div *ngIf="hasError()">
    <p>{{ error }}</p>
  </div>
</div>

<!-- Модальное окно добавления или редактирования группы -->
<app-group-modal
  [form]="modal.selected"
  [error]="modal.error"
  (create)="createGroup($event)"
  (modify)="modifyGroup($event)"
></app-group-modal>

<!-- Модальное окно подтверждения удаления -->
<app-confirmation
  [message]="'Удалить группу номер ' + modal.selected?.number + '?'"
  [error]="modal.error"
  (confirm)="deleteGroup()"
></app-confirmation>
