<!-- Шапка -->
<app-header-admin-pages></app-header-admin-pages>

<!-- Кнопка добавления группы -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGroupModal" (click)="requestCreateGroup()">
  Добавить новую группу
</button>

<!-- TODO сверстать контейнер для групп -->
<div *ngIf="groups">
  <app-group-element
    *ngFor="let e of groups"
    [group]="e"
    (onEdit)="requestEditGroup($event)"
    (onDelete)="requestDeleteGroup($event)"
  ></app-group-element>
</div>

<!-- TODO сверстать заглушку, если список пустой -->
<div *ngIf="!groups">
  <div *ngIf="!hasError()">
    <p>Пусто</p>
  </div>

  <!-- TODO отображение ошибки -->
  <div *ngIf="hasError()">
    <p>{{ error }}</p>
  </div>
</div>

<!-- Модальное окно добавления или редактирования группы -->
<app-group-modal
  [edit]="modal.edit"
  [form]="modal.selected"
  (submit)="onSubmitModal()"
></app-group-modal>

<!-- Модальное окно подтверждения удаления -->
<app-confirmation
  (confirm)="deleteGroup()"
  [error]="modal.error"
></app-confirmation>
