<!-- TODO сделать норм модальное окно -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button id="confirmation-modal-btn-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div>
        <p>{{ message }}</p>
      </div>

      <!-- TODO отображение ошибки -->
      <div *ngIf="hasError()">
        <p>{{ error }}</p>
      </div>

      <button data-bs-dismiss="modal" (click)="cancel.emit($event)">Нет</button>
      <button (click)="confirm.emit($event)">Да</button>
    </div>
  </div>
</div>
