<div class="schedule-weeks-container">
  <div class="schedule-week-date">6 февраля 2023 - 11 февраля 2023 • 24 неделя</div>
  <div class="schedule-week">
    <div></div>
    <div class="cell-day-name">ПН</div>
    <div class="cell-day-name">ВТ</div>
    <div class="cell-day-name">СР</div>
    <div class="cell-day-name">ЧТ</div>
    <div class="cell-day-name">ПТ</div>
    <div class="cell-day-name">СБ</div>
    <div class="cell-empty br-0"></div>

    <div class="cell-time">8:45</div>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day [IsCellEmpty]="false"></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <div class="cell-empty br-0"></div>

    <div class="cell-time">8:45</div>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <app-schedule-cell-day></app-schedule-cell-day>
    <div class="cell-empty br-0"></div>

    <div class="cell-time">8:45</div>
    <app-schedule-cell-day [BorderBottom]="false"></app-schedule-cell-day>
    <app-schedule-cell-day [BorderBottom]="false"></app-schedule-cell-day>
    <app-schedule-cell-day [BorderBottom]="false"></app-schedule-cell-day>
    <app-schedule-cell-day [BorderBottom]="false"></app-schedule-cell-day>
    <app-schedule-cell-day [BorderBottom]="false"></app-schedule-cell-day>
    <app-schedule-cell-day [BorderBottom]="false"></app-schedule-cell-day>
    <div class="cell-empty bb-0 br-0"></div>
  </div>
</div>
