<div class="row row-cols-auto  justify-content-between">
  <div class = "col info-person" *ngIf="request">
    <div class="name">
      {{ whoName }}
    </div>

    <div class="email">
      {{ request.account.email }}
    </div>

    <div *ngIf="isRegistrationRequest && registrationRequest.account.group != null" class="groups">
      гр. {{ registrationRequest.account.group.number }}
    </div>

    <div *ngIf="isGroupRequest && groupRequest.account.group" class="groups">
      гр. {{ groupRequest.account.group.number }} -> {{ groupRequest.group.number }}
    </div>

    <div *ngIf="isGroupRequest && !groupRequest.account.group" class="groups">
      гр. ? -> {{ groupRequest.group.number }}
    </div>
  </div>

  <div class="col d-flex">
    <button class="btn" data-bs-toggle="modal" data-bs-target="#confirmationModal" (click)="acceptClick()">
      <img src="../../../../../assets/img/confirm.svg" alt="confirm">
    </button>

    <button class="btn" data-bs-toggle="modal" data-bs-target="#rejectModal" (click)="declineClick()">
      <img src="../../../../../assets/img/reject.svg" alt="reject">
    </button>
  </div>
</div>

