<div class="header-container">
  <div class="div-header">
    <nav class="navbar navbar-expand-md sticky-top header-navbar">
      <div class="container-fluid p-0">
        <a class="navbar-brand" routerLink="/moderator/edit">
          <img src="/assets/img/logo.png" alt="logo">
        </a>
        <ul class="navbar-nav ms-auto flex-row">
          <li class="nav-item">
            <a class="nav-link header-exit-btn" routerLink="">Выход</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
