<app-header-admin-pages></app-header-admin-pages>

<div class="container">
  <div class="row justify-content-around mb-2">
    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative form">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="form-top d-flex">
            <div class="form-title">Запросы на регистрацию</div>
            <button
              class="ms-auto"
              type="submit">
              Принять все
            </button>
          </div>

          <div class="search input-group">
            <input class="form-control" type="search" placeholder="Введите ФИО / email" [(ngModel)]="searchRequestRegistration">
          </div>

          <div *ngFor="let e of requestsReqistration | searchRequest: searchRequestRegistration">
            <app-requests [name]="e.name"
                          [email]="e.email"
                          [group]="e.group" >
            </app-requests>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative form">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="form-top d-flex">
            <div class="form-title">Запросы на изменения группы</div>
            <button
              class="ms-auto"
              type="submit">
              Принять все
            </button>
          </div>

          <div class="search input-group">
            <input class="form-control" type="search" placeholder="Введите ФИО / email" [(ngModel)]="searchRequestChangeGroup">
          </div>

          <div *ngFor="let e of requestsChangeGroup | searchRequest: searchRequestChangeGroup">
            <app-requests [name]="e.name"
                          [email]="e.email"
                          [oldGroup]="e.oldGroup"
                          [newGroup]="e.newGroup" >
            </app-requests>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
