<app-header-admin-pages></app-header-admin-pages>

<div class="container">
  <div class="row justify-content-around mb-2">
    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative form">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="form-top d-flex">
            <div class="form-title">Запросы на регистрацию</div>
            <button
              class="ms-auto"
              type="submit">
              Принять все
            </button>
          </div>
          <div class="container-request">
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative form">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="form-top d-flex">
            <div class="form-title">Запросы на изменения группы</div>
            <button
              class="ms-auto"
              type="submit">
              Принять все
            </button>
          </div>

          <div class="container-request">
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
            <app-request-registration></app-request-registration>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
