<div class="requests container mb-auto">
  <div class="row row-cols-auto justify-content-between">
    <div class = "col info-person">
      <div class="name">
        Иноземцева Татьяна Андреевна
      </div>

      <div class="email">
        adasd@gmail.com
      </div>
    </div>

    <div class="col d-flex image">
      <div class="confirm">
        <img src="../../../../assets/img/confirm.svg" alt="confirm">
      </div>

      <div>
        <img src="../../../../assets/img/reject.svg" alt="reject">
      </div>
    </div>
  </div>
</div>
