<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="d-none btn-close" data-bs-dismiss="modal" aria-label="Close"
                id="close-confirm-modal-btn"></button>
      </div>

      <div class="modal-body">

        <div *ngIf="ConfirmMode == 1" class="modal-body-text">
          Вы хотите изменить эту и все последующие пары или только выбранную?
        </div>
        <div *ngIf="ConfirmMode == 2" class="modal-body-text">
          Вы хотите удалить эту и все последующие пары или только выбранную?
        </div>

      </div>

      <div *ngIf="ConfirmMode == 1" class="modal-footer">
        <div class="btn apply-for-one-btn" (click)="onChangeOneClick()">Только выбранное</div>
        <div class="btn apply-for-all-btn" (click)="onChangeAllClick()">Все будущие</div>
      </div>
      <div *ngIf="ConfirmMode == 2" class="modal-footer">
        <div class="btn apply-for-one-btn" (click)="onDeleteOneClick()">Только выбранное</div>
        <div class="btn apply-for-all-btn" (click)="onDeleteAllClick()">Все будущие</div>
      </div>
    </div>
  </div>
</div>
