<div class="header-container">
  <div class="div-header">
    <nav class="navbar navbar-expand-md sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
          <img src="/assets/img/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseNavbar">
          <ul class="navbar-nav ">
            <li class="nav-item d-flex active">
              <a class="nav-link" id="header-main-btn" routerLink="/admin/main">Главная</a>
            </li>
            <li class="nav-item d-flex dropdown">
              <button class="btn-toggle dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown"
                      aria-expanded="false">
                Админ
              </button>
              <ul class="dropdown-menu" id="header-dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item header-dropdown-item" routerLink="/admin/users">Пользователи</a></li>
                <li><a class="dropdown-item header-dropdown-item" routerLink="/admin/requests">Запросы</a></li>
                <li><a class="dropdown-item header-dropdown-item" routerLink="/admin/teachers">Преподаватели</a></li>
                <li><a class="dropdown-item header-dropdown-item" routerLink="/admin/subjects">Предметы</a></li>
                <li><a class="dropdown-item header-dropdown-item" routerLink="/admin/audiences">Аудитории</a></li>
                <li><a class="dropdown-item header-dropdown-item" routerLink="/admin/groups">Группы</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" id="header-exit-btn" routerLink="">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
