<div class="row row-cols-auto justify-content-between">
  <div class="col-8" *ngIf="teacher">
    <p>{{ teacher.lastName }} {{ teacher.firstName }} {{ teacher.patronymicName }}</p>
  </div>
  <div class="col d-flex buttons">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addTeacherModal" (click)="editClick()">
      <img src="../../../../../assets/img/edit.svg" alt="edit">
    </button>

    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#confirmationModal" (click)="deleteClick()">
      <img src="../../../../../assets/img/delete.svg" alt="delete">
    </button>
  </div>
</div>
