<app-header-admin-pages></app-header-admin-pages>

<div class="container-sm min-vh-100">
  <div class="row justify-content-center align-content-center">
    <div class="col p-4 border overflow-hidden flex-md-row shadow-sm h-md-250 position-relative form">

      <div class="d-flex flex-column">
        <div class="d-flex">
          <div class="col form-title">Аудитории</div>

          <!-- Button trigger modal -->
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addAudienceModal" (click)="requestCreateAudiences()">
            Добавить новую аудиторию
          </button>

        </div>
      </div>

      <div class="search input-group">
        <input class="form-control" type="search" placeholder="номер / корпус / название">
      </div>

      <div *ngIf="audiences">
        <app-audience-element
          *ngFor="let e of audiences"
          [audience]="e"
          (onEdit)="requestEditAudiences($event)"
          (onDelete)="requestDeleteAudiences($event)"
        ></app-audience-element>
      </div>

    </div>
  </div>
</div>

<!-- TODO сверстать заглушку, если список пустой -->
<div *ngIf="!audiences">
  <div *ngIf="!hasError()">
    <p>Пусто</p>
  </div>

  <!-- TODO отображение ошибки -->
  <div *ngIf="hasError()">
    <p>{{ error }}</p>
  </div>
</div>

<!-- Модальное окно добавления или редактирования аудитории -->
<app-audience-modal
  [form]="modal.selected"
  [error]="modal.error"
  (create)="createAudience($event)"
  (modify)="modifyAudience($event)"
></app-audience-modal>

<!-- Модальное окно подтверждения удаления -->
<app-confirmation
  [message]="'Удалить аудиторию номер ' + modal.selected?.number + '?'"
  [error]="modal.error"
  (confirm)="deleteGroup()"
></app-confirmation>
