.form {
  background: #371B1B;
  color: white;
  border-radius: 60px;
}

h2 {
  text-transform: uppercase;
}

button {
  background: white !important;
  color: black !important;
  border-radius: 16px !important;
}
