<div class="container-sm">
  <div class="row justify-content-center align-content-center vh-100">
    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10 form">

      <form class="d-flex flex-column align-items-center m-5">
        <h2 class="">
          Авторизация
        </h2>
        <p class="mb-4 w-100">
          Чтобы править расписание, необходимо быть зарегистрированным составителем
        </p>
        <div class="mb-3 w-100">
          <label for="exampleInputEmail1" class="form-label">Логин</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 w-100">
          <label for="exampleInputPassword1" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="w-50 btn btn-primary align-self-center">Войти</button>
      </form>

    </div>
  </div>
</div>
