<app-header-signin class="position-absolute" style="width: 100vw"></app-header-signin>

<div class="container-sm">
  <div class="row justify-content-center align-content-center vh-100">
    <div class="form">

      <div class="d-flex flex-column align-items-center">
        <div class="form-title">
          Авторизация
        </div>
        <div class="w-100 form-description">
          Чтобы править расписание, необходимо быть зарегистрированным составителем
        </div>
        <div class="w-100">
          <input type="email" class="w-100" id="exampleInputEmail1" placeholder="Логин" aria-describedby="emailHelp" [(ngModel)]="login">
        </div>
        <div class="w-100">
          <input type="password" class="w-100" placeholder="Пароль" id="exampleInputPassword1" [(ngModel)]="password">
        </div>
        <div class="mb-3 w-100 text-center text-danger">
          <p *ngIf="state === 'login_empty'">
            Логин не должен быть пустой.
          </p>
          <p *ngIf="state === 'password_empty'">
            Пароль не должен быть пустой.
          </p>
          <p *ngIf="state === 'connection_refused'">
            Не удалось подключиться к серверу, повторите попытку позже.
          </p>
          <p *ngIf="state === 'internal_server_error'">
            Возникла внутренняя ошибка на сервере, обратитесь к разработчикам.
          </p>
          <p *ngIf="state === 'bad_request'">
            Серверу отправлены некорректные данные.
          </p>
          <p *ngIf="state === 'wrong_credentials'">
            Серверу отправлены некорректные данные.
          </p>
          <p *ngIf="state === 'forbidden'">
            Доступ ограничен.
          </p>
          <p *ngIf="state === 'unknown_error'">
            Произошла неизвестная ошибка, обратитесь к разработчикам.
          </p>
        </div>
        <button
          type="submit"
          [attr.disabled]="state === 'loading' ? '' : null"
          (click)="onSubmit()">
          Войти
        </button>
      </div>

    </div>
  </div>
</div>
