body, html {
  width: 100%;
  height: 100%;
}

.navbar-brand img {width: 70px}

.nav-link {
  font-size: 20px !important;
  font-family: 'Jura', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  color: black !important;
}

.dropdown-item {
  font-size: 20px !important;
  font-family: 'Jura', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  color: black !important;
}

.div-header {
  padding-left: 83px;
  padding-right: 83px;
}

.navbar-brand img {width: 70px}
