.header-container {
  width: 100vw;

  padding-left: 83px;
  padding-right: 83px;
}

.div-header {
  border-bottom: 3px solid rgba(55, 27, 27, 0.2);
}

.header-navbar {
  padding: 35px 0 35px 0;
  margin: 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-brand img {
  width: 70px;
  padding: 0;
  margin: 0;
}

#header-main-btn {
  padding: 0 74px 0 40px;

  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.btn-toggle {
  background: transparent;
  border: none;
  padding: 0;

  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

#header-dropdown-menu {
  background: #D9D9D9;
  border-radius: 10px;
  border: none;
  text-align: right;
  padding: 10px 0 10px 0;
}

@media (min-width: 450px){
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

.header-dropdown-item {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  transition: 0.25s ease;
  --bs-dropdown-link-hover-bg: transperent;

  padding: 10px 28px 10px 25px;
}

.header-dropdown-item:hover {
  background: #c5c5c5 !important;
}
.header-dropdown-item:active {
  background: #b0b0b0 !important;
}

.header-exit-btn {
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #000000;
}

/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/* АДАПТИВ ПОД МАЛЕНЬКИЕ СТРАНИЦЫ */

@media (max-height: 900px) {
  .header-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-header {
    border-bottom: 2px solid rgba(55, 27, 27, 0.2);
  }

  .header-navbar {
    padding: 7px 0 7px 0;
  }

  .navbar-brand img {
    width: 45px;
  }

  .btn-toggle {
    font-size: 18px;
  }

  #header-main-btn {
    padding: 0 30px 0 15px;
    font-size: 22px;
  }

  #header-dropdown-menu {
    padding: 8px 0 8px 0;
  }

  .header-dropdown-item {
    font-size: 18px;
    padding: 0 15px 0 17px;
  }

  .header-exit-btn {
    font-size: 21px;
    padding: 0;
  }
}
