<app-header-admin-pages></app-header-admin-pages>


<div class="container">
  <div class="row justify-content-center align-content-center">
    <div class="col p-4 border overflow-hidden flex-md-row shadow-sm h-md-250 position-relative form">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <div class="col form-title">Пользователи</div>
          <button
            class="ms-auto"
            type="submit">
            Добавить новый аккаунт
          </button>
        </div>
      </div>

      <div class="people container">

        <app-person-teacher></app-person-teacher>
        <app-person-teacher></app-person-teacher>
        <app-person-student></app-person-student>
        <app-person-student></app-person-student>
        <app-person-teacher></app-person-teacher>
        <app-person-student></app-person-student>

      </div>

    </div>
  </div>
</div>
