.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form {
  color: white;
  background: #371B1B;
  border-radius: 15px;
  max-width: 900px;
}

.form-title {
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 17px;

  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
}

button {
  width: 210.75px;
  height: 80.27px;
  background: #FFFFFF;
  border: medium #371B1B;

  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #000000;
  transition: 0.3s ease;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.p-4 {
  padding: 0 !important;
}
