<app-header-admin-pages></app-header-admin-pages>


<div class="container-sm min-vh-100">
  <div class="row justify-content-center align-content-center">
    <div class="col p-4 border overflow-hidden flex-md-row shadow-sm h-md-250 position-relative form">

<!--      title with button-->
      <div class="d-flex flex-column">
        <div class="d-flex">
          <div class="col form-title">Пользователи</div>
          <button
            class="ms-auto"
            type="submit">
            Добавить новый аккаунт
          </button>
        </div>
      </div>


<!--      search-->
      <div class="searches row d-flex">

        <div class="col-md-5 mx-auto">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="ФИО" id="name-search-input">
          </div>
        </div>

        <div class="col-md-5 mx-auto">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="email" id="email-search-input">
          </div>
        </div>

        <div class="col-md-5 mx-auto">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="group" id="group-search-input">
          </div>
        </div>

      </div>


<!--      list people-->
      <div class="people container">

        <app-person-teacher></app-person-teacher>
        <app-person-teacher></app-person-teacher>
        <app-person-student></app-person-student>
        <app-person-student></app-person-student>
        <app-person-teacher></app-person-teacher>
        <app-person-student></app-person-student>

      </div>

    </div>
  </div>
</div>
