<div class="modal fade" id="addUserModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="!edit" class="modal-title">Новый пользователь</h1>
        <h1 *ngIf="edit" class="modal-title">Отредактировать пользователя</h1>
        <button id="user-modal-btn-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <label for="userTypeInput" class="col-sm-3 col-form-label">Роль</label>
          <div class="col-sm-8">
            <select
              class="form-select form-select-s"
              aria-label=".form-select-sm example"
              id="userTypeInput"
              #selected
              (change)="onRoleChange(selected.value)"
            >
              <option value="Student">СТУДЕНТ</option>
              <option value="Teacher">ПРЕПОДАВАТЕЛЬ</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label for="userLastNameInput" class="col-sm-3 col-form-label">Фамилия</label>
          <div class="col-sm-8">
            <input type="text" class="form-control transparent-input" id="userLastNameInput" [(ngModel)]="lastName">
          </div>
        </div>

        <div class="row">
          <label for="userFirstNameInput" class="col-sm-3 col-form-label">Имя</label>
          <div class="col-sm-8">
            <input type="text" class="form-control transparent-input" id="userFirstNameInput" [(ngModel)]="firstName">
          </div>
        </div>

        <div class="row">
          <label for="userPatronymicInput" class="col-sm-3 col-form-label">Отчество</label>
          <div class="col-sm-8">
            <input type="text" class="form-control transparent-input" id="userPatronymicInput" [(ngModel)]="patronymicName">
          </div>
        </div>

        <div *ngIf="this.role == 'Student'" class="row">
          <label for="groupInput" class="col-sm-3 col-form-label">Группа</label>
          <div class="col-sm-8">
            <select
              class="form-select form-select-s groups-list"
              aria-label=".form-select-sm example"
              id="groupInput"
              #selected
              (change)="onGroupChange(selected.value)"
            >
              <option *ngFor="let e of groups" [value]="e.id">{{ e.number }}</option>
            </select>
          </div>
        </div>

        <div *ngIf="this.role == 'Teacher'" class="row">
          <label for="groupInput" class="col-sm-3 col-form-label">Преподаватель</label>
          <div class="col-sm-8">
            <select
              class="form-select form-select-s groups-list"
              aria-label=".form-select-sm example"
              id="teacherInput"
              #selected
              (change)="onTeacherChange(selected.value)"
            >
              <option *ngFor="let e of teachers" [value]="e.id">{{ e.lastName }} {{ e.firstName }} {{ e.patronymicName }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label for="emailInput" class="col-sm-3 col-form-label">E-mail</label>
          <div class="col-sm-8">
            <input type="email" class="form-control transparent-input" id="emailInput" [(ngModel)]="email">
          </div>
        </div>

        <div class="row">
          <label for="passwordInput" class="col-sm-3 col-form-label">Пароль</label>
          <div class="col-sm-8 d-flex">
            <input type="text" class="form-control transparent-input" id="passwordInput" [(ngModel)]="password">
            <button class="btn btn-primary generate-pas" type="button" (click)="generatePassword()">
              Сгенерировать
            </button>
          </div>
        </div>
      </div>

      <!-- TODO отображение ошибки -->
      <div *ngIf="hasError()">
        <p>{{ error }}</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-center" (click)="onSubmit()">
          <span *ngIf="!edit">Добавить</span>
          <span *ngIf="edit">Изменить</span>
        </button>
      </div>
    </div>
  </div>
</div>
