<div class="div-header">
  <nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Админ
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Пользователь</a></li>
              <li><a class="dropdown-item" href="#">Запросы</a></li>
              <li><a class="dropdown-item" href="#">Преподаватели</a></li>
              <li><a class="dropdown-item" href="#">Предметы</a></li>
              <li><a class="dropdown-item" href="#">Аудитории</a></li>
              <li><a class="dropdown-item" href="groups-page.component.html">Группы</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="" data-bs-target="#myModal" data-bs-toggle="modal">Выход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="divider div-header-line"></div>
</div>
